/* image-flipper.css */

.image-flipper {
  position: relative;
}

.image-flipper img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}

.image-flipper:hover img {
  transform: rotateY(180deg);
}
