{#
/**
 * @file
 * Theme template for rendering image with flip effect.
 *
 * Available variables:
 * - url: The URL of the image.
 * - alt: The alt attribute of the image.
 */
#}
  <div class="image-flipper">
    <img src="{{ url }}" alt="{{ alt }}" />
    {# Add flip effect HTML here if needed #}
  </div>
